@model List<Randevu>

<h2>Randevu Listesi</h2>
<hr>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Hizmet</th>
            <th>Antrenör</th>
            <th>Tarih</th>
            <th>Saat</th>

            @if (User.IsInRole("Admin"))
            {
                <th>İşlemler</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.AdSoyad</td>
                <td>@r.Hizmet.Ad</td>
                <td>@r.Antrenor.AdSoyad</td>
                <td>@r.Tarih.ToShortDateString()</td>
                <td>@r.Saat</td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a href="/Admin/Randevu/Edit/@r.Id"
                           class="btn btn-warning btn-sm">
                            Düzenle
                        </a>

                        <a href="/Admin/Randevu/Delete/@r.Id"
                           class="btn btn-danger btn-sm">
                            Sil
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
